@charset "UTF-8";
html, body, h1, h2, h3, h4, ul, li, ol, dl, dt, dd, img, input, p, a, form, legend, fieldset {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}
ul, ol {
    list-style: none;
}
input {
    padding-top: 0;
    padding-bottom: 0;
}
select, input, textarea {
    font-size: 12px;
    margin: 0;
}
textarea {
    resize: none;
}
img {
    border: 0;
    vertical-align: middle;
}
table {
    border-collapse: collapse;
}
body {
    font: 12px/150% PingFang;
    color: #666;
    background-color: #fff;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1; /*IE/7/6*/
}
a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #666;
}
h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}
s, i, em {
    font-style: normal;
    text-decoration: none;
}

.fl {
    float: left;
}
.fr {
    float: right;
}
.al {
    text-align: left;
}
.ar {
    text-align: right;
}
.ac {
    text-align: center;
}
.hide {
    display: none;
}